[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
funhandler = {editable = true, path = "."}
dask = {extras = ["complete"], version = "*"}
funtime = "==0.2.7"
pyarrow = "*"
streamz = "*"
networkx = "*"
streamz-latest = "*"
distributed = "*"
loguru = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.6"
