[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
funhandler = {editable = true, path = "."}
dask = {extras = ["complete"], version = "*"}
pyarrow = "*"
streamz = "*"
networkx = "*"
streamz-latest = "*"
distributed = "*"
loguru = "*"
ray = "*"
flask = "*"
sanic = "*"
funtime = "*"
featman = "*"
jupyter = "*"
numpy = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.6"
